* {
    margin: 0;
}
.logo {
    font-size: 1.5em;
}
nav {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Muli;
    background-color: rgb(138, 209, 185);
}
body {
    background-color: rgba(245, 245, 245, 0.808);
}
.profile {
    margin: ;
    height: 5vh;
    padding: 15px;
    //background-color: whitesmoke;
    background-color: white;
    border-radius: 30px;
    color: white;
}
.cover {
    height: 100vh;
    width: 100vw;
    background-color: rgb(225, 244, 255);
    background-size: cover;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: raleway;
}
.container-box {
    margin: 50px auto;
    width: 70vmax;
    height: 100px;
    text-align: center;
    background-color: white;
    border-radius: 20px;

}
.content-box {
    margin:0;
    display: flex;
    width: 100%;
    position: relative;
    float: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}