* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header {
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    background-image: linear-gradient(
        #675d7288,
        #72727288
      ), url("https://lonelyplanetwp.imgix.net/2015/02/River_Vibe_Bangkok-3a615142c237.jpg?fit=min&q=40&sharp=10&vib=20&w=1470");
    background-position: center;
    background-size: cover;
}
nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    transition: 1s;
}
nav .name {
    color: rgb(27, 5, 78);
    font-size: 30px;
    font-family: Raleway;
    border-style: solid;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    float: left;
    cursor: pointer;
    transition: 1s;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    right: 10px;
}
nav ul li {
    margin-left: 5px;
    padding: 12px 30px;
    cursor: pointer;
}
nav ul li a {
    color: black;
    font-family: Muli;
    transition: 1s;
}
.button {
    border-radius: 30px;
    transition: .3s;
}
.button:hover {
    background-color: #e6ba69ef;
}
.button:hover a {
    color: white;
    transition: color .3s;
}
.lbreak {
    width: 100%;
    height: 3px;
    background-color: #0f0050;
}

.title {
    color: whitesmoke;
    font-family: Muli;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scdown {
    color: rgb(211, 211, 211);
    font-family: 'Noto Sans';
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
.hide {
    color: transparent;
    transition: .5s;
}
.black {
    background-color: #0f0050;
}
.black h2{
    color: white;
}
.black a{
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.content {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 100px;
    height: 500px;
    width: 80%;
}
.gridarea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#contenthead {
    background-color: aqua;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}



footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
}
.copy {
    margin: 10px;
    float: left;
    font-size: 16px;
    text-align: bottom;
}
.exlink {
    margin: 10px;
    float: right;
    flex-direction: column;
}